/* https://css-tricks.com/almanac/selectors/a/after-and-before/ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Percentage are good for mobile development because of their scalability. However, they do cascade like ems. */
  font-family: "Roboto", sans-serif; /* https://fonts.google.com/specimen/Roboto */
  line-height: 1.5;
  background-color: whitesmoke; /* it's not as white... as white... ( ဖ‿ဖ)人(စ‿စ ) */
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%; /* TODO */
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: bold;
  color: white;
}

.heading-primary {
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 7px;
  margin-bottom: 2rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .heading-primary {
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
}

.lead {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
  font-weight: bold;
  color:white;
}

.heading-secondary-sub {
  text-align: center;
}

.sub-heading {
  font-size: 2.5rem;
  display: block;
  text-align: center;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .sub-heading {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 100;
  }
}

.heading-text-wrap {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* navigation section */
nav {
  background-color: #1e90ff;
  padding: 2rem 1rem;
  z-index: 100;
  position: sticky;
  top: 0;
}

.nav-wrapper {
  display: flex;
  column-gap: 5rem;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 1.5rem;
  list-style: none;
}

.nav-link {
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.5rem;
  transition: all 0.3s ease-in;
  font-weight: bold;
}

.nav-link:hover {
  border-bottom: 3px solid #fff;
}

.nav-logo {
  width: 4rem;
}

.nav-logo img {
  width: 100%;
  box-shadow: 0px 0px 20px #fff;
}

.check-label {
  display: none;
}

.checkbox {
  display: none;
}

/* navigation section on mobile */
@media screen and (max-width: 768px) {
  .nav-logo {
    margin-left: 1.5rem;
    padding-top: 0.5rem;
  }

  .nav-list {
    display: block;
    position: absolute;
    top: 100%;
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    padding-top: 25rem;
    left: -300%;
    transition: all 0.9s;
  }

  .check-label i {
    font-size: 3.5rem;
    color: whitesmoke;
  }

  .check-label {
    display: block;
    position: absolute;
    top: 30%;
    right: 2rem;
    cursor: pointer;
  }

  .checkbox:checked ~ .nav-list {  /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/General_sibling_combinator */
    left: 0;
  }

  .nav-list li {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
  }

  .nav-list li a {
    font-size: 2.5rem;
  }

  nav .container {
    padding: 0;
    margin: 0;
  }

  nav {
    margin: 0;
    padding: 2rem 0;
  }

  .nav-link {
    color: #1e90ff;

    transition: all 0.3s ease-in;
  }

  .nav-link:hover {
    border-bottom: 3px solid #1e90ff;
  }
}




/* about section */
#about {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  color: #1e90ff;
  position: relative; /*TODO*/
}

@media screen and (max-width: 768px) {
  #about {
    padding: 10rem 0;
    flex-direction: column;
    row-gap: 5rem;
    position: relative;
  }
}

.about-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.281);
}

.about-heading {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

.about-lead {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-indent: 3rem;
}

.about-text {
  flex: 0 0 50%;
  z-index: 2;
}

.about-img {
  flex: 0 0 33%;
}

.about-img img {
  width: 100%;
}




/* skills section*/
.skills {
  padding: 10rem 1rem;
  background-color: #1e90ff;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.skill-column {
  flex: 0 0 50%;
}

.skillbar {
  margin: 2rem 0;
}

.skillbar-box {
  background-color: rgba(48, 48, 48, 0.596);
  padding: 3px 0;
  border: 1px solid whitesmoke;
  border-radius: 8px;
}

.skill-percentage {
  background-color: whitesmoke;
  height: 10px;
  width: 100%;
  border-radius: 6px;
  margin: 0 3px;
}

.skillbar-text {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}




/* stats section */
#stats {
  padding: 10rem 0;
  margin: 0 auto;
  background-color: white;
}

#stats i {
  font-size: 4.5rem;
  display: inline-block;
  padding: 0 3rem;
  position: absolute;
  top: -13%;
  background-color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 999px) {
  .row {
    grid-template-columns: repeat(2, 25rem);
  }
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 25rem;
  }
}

.stat-box {
  position: relative;
  height: 18rem;

  width: 25rem;
  color: #1e90ff;
  border: 2px solid #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stat-box h4 {
  font-size: 5.6rem;
  font-weight: 400;
}

.stat-box p {
  font-size: 1.4rem;
  font-weight: bold;
}

.custom-icon img {
  width: 50px;
  height: 50px;
  fill: #1e90ff;
}

.custom-icon {
}




/* contact section*/
#contact {
  padding: 10rem 0;
  background-color: #1e90ff;
}

.form-box {
  background-color: whitesmoke;
  color: #1e90ff;
  width: 35rem;
  margin: 0 auto;
  border-radius: 5rem;
  padding: 3rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.438);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group label {
  font-size: 1.6rem;
  font-weight: bold;
}

.contact-heading {
  font-weight: 900;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.input-group input,
.input-group textarea {
  width: 80%;
  border: none;
  background-color: whitesmoke;
  border-bottom: 2px solid rgba(51, 51, 51, 0.514);
  resize: none;
  padding: 1.5rem 0; /*TODO*/
}

.input-group button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: #1e90ff;
  color: #fff;
  transition: all;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-animation: btnWiggle 1s infinite;
  -moz-animation: btnWiggle 1s infinite;
  -o-animation: btnWiggle 1s infinite;
  animation: btnWiggle 3s infinite;
}

@keyframes btnWiggle {
  0% { transform: rotate(0deg); }
  86% { transform: rotate(0deg); }
  88% { transform: rotate(5deg); }
  90% { transform: rotate(-5deg); }
  92% { transform: rotate(0deg); }
  94% { transform: rotate(5deg); }
  96% { transform: rotate(-5deg); }
  94% { transform: rotate(0deg); }
  96% { transform: rotate(5deg); }
  98% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.input-group button:hover {
  background-color: #5499df;
}

.input-group textarea {
  height: 5rem;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;

  text-align: left;
}




/* portfolio section */
#portfolio {
  padding: 10rem 0;
}

.portfolio .heading-secondary {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.button-wrap {
  text-align: center;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .image-row {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
  }
}

@media screen and (max-width: 428px) {
  .image-row {
    grid-template-columns: 1fr;
  }
}

.gallery-item-inner img {
  width: 100%;
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  min-width: 30%;
  max-width: 80%;
}

.gallery-filter {
  text-decoration: none;
  display: inline-block;
  background-color: #1e90ff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: whitesmoke;
  margin: 4rem 0;
  transition: all 0.4s ease;
}

.gallery-filter:hover {
  background-color: #002b57c0;
}

.image-row1.sort {
  animation: fadeOut 1s ease;
}

.image-row2.sort {
  animation: fadeOut 1s ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}




/* footer section*/
footer {
  padding: 3rem 0;
  text-align: center;
  background-color: #333333;
  color: whitesmoke;
  font-size: 1.6rem;
}




/* JS lib. SuperSlides copycat atempt (carousel) */
#slider,
.wrap,
.slide-content {
  width: 100%;
  height: 100vh;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(../assets/bg1.jpg);
}

.slide2 {
  background-image: url(../assets/bg2.jpg);
}

.slide3 {
  background-image: url(../assets/bg3.jpg);
}

.slide4 {
  background-image: url(../assets/bg4.jpg);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.521);
  right: 0;
  margin-right: 4rem;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent rgba(255, 255, 255, 0.521) transparent transparent;
  left: 0;
  margin-left: 4rem;
}

@media screen and (max-width: 768px) {
  #arrow-right {
    border-width: 15px 0 15px 20px;

    margin-right: 0.5rem;
  }
  #arrow-left {
    border-width: 15px 20px 15px 0;

    margin-left: 0.5rem;
  }
}




/* txt-type TODO */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}